<body style="background: #5812c5;">
  <div class="container register-container mb-4 h-100">
    <br>
    <hr>
    <div class="card register-card">
      <div class="card-body mx-auto">
        <h4 class="card-title m-3 text-center">Editar la tarea seleccionada</h4>
        <%= form_for(@task, :url => {:action => 'update', :id => @task.id}) do |f| %>
          <%= render 'form', task: @task %>
        <% end %>
      </div> <!-- card.// -->
    </div>
  </div>
  <%= render "shared/footer" %>
</body>