<h1>Editing Profile</h1>
<%= form_for(@profile, :url => {:action => 'update', :id => @profile.id}, :html=> {:multipart => true }) do |f| %>
  <%= render 'form', user: @profile %>
<% end %>

<%= link_to 'Ver', user_profile_path %> |
<%= link_to 'Regresar', user_profile_path %>