<h1>UserProfiles#show</h1>

<div>
  <h4>nombre: <%= @user.first_name%></h4>
</div>
<div>
  <h4>Apellido: <%= @user.last_name%></h4>
</div>
<div>
  <h4>Casa: <%= @user.house.name%></h4>
</div>
<div>
  <h2>Mis tareas por hacer</h2>
</div>