<div>
  <h4>nombre: <%= @profile.first_name%></h4>
</div>
<div>
  <h4>Apellido: <%= @profile.last_name%></h4>
</div>
<div>
  <h4>Casa: <%= @profile.house.name%></h4>
</div>
<div>
  <%= link_to 'editar', edit_user_profile_path %>
</div>
<div>
  <h2>Mis tareas por hacer</h2>
</div>

