.whouse-main{
  background: #F3EDE6;
  color:#1C7D75;
  padding-top: 7.5%;
  padding-bottom: 7%;
  text-align: center;
}
.wcontent1-left{
  padding: 5% 12%;
  background: #8FE6B1;
  color: #393939;
}
.wcontent1-right{
  padding: 5% 12%;
  background:#72D1DB;
  color: #393939;
}
.whouse-main button{
  background: #F3EDE6;
  border-radius: 0;
  font-weight: 700;
  width: auto;
  height: 50px;
  top: 4%;
  margin-top: 3%;
}
.whouse-main button:hover{
  transition: 1s ease;
  width: 19%;
  height: 19%;
}
.whouse-main a{
  display: block;
  padding: 0.5rem 1rem;
  color: #212529;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.15s
}
.house-main a:hover{
  transition: 1s ease;
  font-size: 125%;
}
.home-content2{
  background: #adb5bd;
  padding: 1.4%;
  text-align: center;
}
.home-content2 p{
  font-size: 18px;
  line-height: 50px;
}
.home-content2 p span{
  font-weight: 400;
  margin: 0;
  padding: 0;
}
//CSS de nueva casa y unirse a una casa
.new-house-top{
  background: #F3EDE6;
  color:#1C7D75;
  padding: 7% 20% 6%;
  text-align: center;
}
.new-house-bottom{
  background: #F3EDE6;
  color:#1C7D75;
  padding: 2% 20% 2%;
  text-align: left;
}
.new-house-top-button{
  background: #72D1DB;
  color: #F3EDE6;
  border-radius: round($number: 1);
  font-weight: 700;
  width: 16%;
  height: 50px;
  top: 4%;
  margin-top: 3%;
}
.new-house-top a{
  display: block;
  padding: 0;
  color: #393939;
  text-decoration: none;
  transition: color 0.15s
}
.new-house-top a:hover{
  color: #212529;
}
.join-house-top{
  background: #F3EDE6;
  color:#1C7D75;
  padding: 7% 20% 6.7%;
  text-align: center;
}
.join-house-top a{
  display: block;
  padding: 0;
  color: #393939;
  text-decoration: none;
  transition: color 0.15s
}
.join-house-top a:hover{
  color: #212529;
}
.join-house-bottom{
  background: #F3EDE6;
  color:#1C7D75;
  padding: 2% 20% 2%;
  text-align: left;
}
.join-house-top-button{
  background: #72D1DB;
  color: #F3EDE6;
  border-radius: round($number: 1);
  font-weight: 700;
  width: 16%;
  height: 50px;
  top: 4%;
  margin-top: 3%;
}