.task-btn {
  width: 40%;
  background: #c0392b !important;
  color: white !important;
  justify-content: center;
}
.task-btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.back-btn {
  width: 40%;
  margin-left: 16%;
  padding: 0px 12px 0px 12px !important;
  background: #6c757d !important;
  color: white !important;
  justify-content: center;
}

