.new-task-container{
  padding: 5% 20% 0%;
  max-height: 90%;
}
.new-task-container h4{
  color: #1C7D75;
}
.form-text{
  color: #1C7D75;
  font-size: 105%;
}
.task-btn {
  width: 40%;
  margin-left: 16%;
  background: #72D1DB !important;
  color: #F3EDE6;
  justify-content: center;
  border: none;
  border-radius: 0.25rem;
}
.task-btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.back-btn {
  width: 40%;
  padding: 0px 12px 0px 12px !important;
  background: #6c757d !important;
  color: #F3EDE6;
  justify-content: center;
}
.task-btn a:hover{
  color: #212529;
}
.back-btn a{
  color: #F3EDE6;
}
.back-btn a:hover{
  color: #212529;
}

// CSS del Listado de tareas
.index-task-container{
  padding-top: 3.2%;
  padding-bottom: 5.2%;
}
.task-text{
  color: #1C7D75;
}
.search-div{
  width: 30%;
}
.search-btn {
  width: 25%;
  background: #72D1DB !important;
  color: #F3EDE6;
  justify-content: center;
  border: none;
  border-radius: 0.25rem;
}
.search-btn:hover {
  color: #212529;
}
.new-task-btn {
  width: 40%;
  padding: 0px 12px 0px 12px;
  background: #8FE6B1;
  color: #F3EDE6;
  justify-content: center;
}
.new-task-btn a{
  text-decoration: none;
  color: #393939;
}
.new-task-btn a:hover{
  color: #F3EDE6;
}
.tr:nth-child(even){
  background-color: #5812c5;
}
.sort-link-color{
  text-decoration: none;
  color: #1C7D75;
}
.actions-style{
  text-align: center;
}
.actions-style a{
  text-decoration: none;
  color: #393939;
}
.actions-style a:hover{
  text-decoration: underline;
  color: #393939;
}
.breadcrumbs{
  margin-top: 2%;
}
.breadcrumbs a{
  color: #393939;
}
//CSS de la vista del Task
.breadcrumbs-task{
  margin-top: 3%;
}
.breadcrumbs-task a{
  color: #393939;
}
.task-info{
  height: 30%;
}
.edit-task-btn {
  width: 40%;
  padding: 2% 1%;
  background: #8FE6B1;
  color: #F3EDE6;
  justify-content: center;
}
.edit-task-btn a{
  text-decoration: none;
  color: #393939;
}
.edit-task-btn a:hover{
  color: #F3EDE6;
}
.delete-task-btn {
  width: 40%;
  padding: 2% 1%;
  margin-left: 1%;
  background: #a80a0a;
  color: #F3EDE6;
  justify-content: center;
}
.delete-task-btn a{
  text-decoration: none;
  color: #F3EDE6;
}
.delete-task-btn a:hover{
  color: #393939;
}
.finish-task-btn{
  width: 30%;
  padding: 1% 1%;
  background: #8FE6B1;
  color: #F3EDE6;
}
.finish-task-btn a{
  text-decoration: none;
  color: #393939;
}
.finish-task-btn a:hover{
  color: #F3EDE6;
}
.reject-task-btn {
  width: 20%;
  padding: 1% 1%;
  margin-left: 1%;
  background: #a80a0a;
  color: #F3EDE6;
  justify-content: center;
}
.reject-task-btn a{
  text-decoration: none;
  color: #F3EDE6;
}
.reject-task-btn a:hover{
  color: #393939;
}
.approve-task-btn{
  width: 20%;
  padding: 1% 1%;
  margin-left: 1%;
  background: #72D1DB;
  color: #F3EDE6;
}
.approve-task-btn a{
  text-decoration: none;
  color: #393939;
}
.approve-task-btn a:hover{
  color: #F3EDE6;
}
//CSS de Comments
.bg-comments{
  background: #F3EDE6;
  background-color: #F3EDE6;
}
.bg-comments p{
  color: #1C7D75;
}
.bg-comments p:hover{
  color: #1C7D75;
}
.card-comment{
  width: 96%;
  margin: 1% 2% 2%
}
.comment-btn {
  width: 20%;
  background: #8FE6B1;
  color: #393939;
  border-radius: 0.25rem;
  border: none;
  justify-content: center;
}
.comment-btn:hover{
  color: #F3EDE6;
}
.delete-comment-btn {
  width: 20%;
  background: #a80a0a;
  border-radius: 0.25rem;
  border: none;
  justify-content: center;
}
.delete-comment-btn a{
  color: #F3EDE6;
  text-decoration: none;
}
.delete-comment-btn a:hover{
  color: #393939;
}
.kaminari-colors{
  color: #F3EDE6;
  background: #1C7D75
}
.kaminari-colors:hover{
  color: #393939;
  background: #8FE6B1
}
.kaminari-colors-active{
  z-index: 3;
  color: #393939;
  background: #8FE6B1
}
.kaminari-colors-active:hover{
  z-index: 3;
  color: #393939;
  background: #8FE6B1
}